/bin
**/build/
.checkstyle
.classpath
.project
monitor.command
.settings
hs_err*
cmd_*
*.DS_Store
log.txt
.idea
.gradle
*.swp
*.iml
dxram.iml
.dxram_term_hist
out/*
/tmp/
/app/
/util/statistics.pdf
/stats/
dxram/out
