<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dxram/src/de/hhu/bsinfo/dxram/run/DXRAMMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.hhu.bsinfo.dxram.run.DXRAMMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dxram"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Ddxram.config=config/dxram.student.conf&#10;-Ddxram.config.0=config/dxram.nodes.student.conf&#10;-Ddxram.network.ip=127.0.0.1&#10;-Ddxram.network.port=22221&#10;-Ddxram.role=Superpeer&#10;-Xmx1024M"/>
</launchConfiguration>
