#interfaces
# Class for the LookupInterface - Without caching: LookupHandler, with caching: CachedLookup or CachedTreeLookup
interface.lookup=de.uniduesseldorf.dxram.core.lookup.CachedTreeLookup

#net
network.ip=127.0.0.1
network.port=22222

#ram (1 GB = 1073741824, 4 GB = 4294967296, 10 GB = 10737418240)
ram.size=10737418240

#log
log.directory=/Users/Kevin/workspace/DXRAM-Log/

#lookup
lookup.sleep=1
lookup.cacheSize=2000
lookup.cacheTTL=5000

#zookeeper
zookeeper.connectionString=10.0.0.254:2181
# Bitfield size: 256*1024=262144 -> minimum collision probability reached; 2048*1024=2097152 -> all NodeIDs allocatable
zookeeper.bitfieldSize=2097152

#nameservice
# NAME: String, ID: Integer
nameservice.type=NAME
# Key length in Bit
nameservice.keyLength=32

#jni lock library
lock.jni_directory=/Users/Kevin/workspace/git/dxram/jni/libJNILock.dylib
