// Max size of a DataBlock (default 16 MB)
dxram.chunk.maxsize=16777215

$network
// Local IP address
dxram.ip=127.0.0.1
// Global Port for DXRAM
dxram.port=22222
// Max connection count at the same time
dxram.max_connections=100
// Size of the incoming message buffer (default 64 KB)
dxram.message.buffersize=65536
// Class for creating new network connections (default creator uses Java NIO)
dxram.connectioncreator=de.uniduesseldorf.dxram.core.net.NIOConnectionCreator

$interfaces
// Class for the DataInterface
dxram.chunk=de.uniduesseldorf.dxram.core.chunk.ChunkHandler
// Class for the DHTInterface (default uses ZooKeeper)
dxram.dht=de.uniduesseldorf.dxram.core.dht.ZooKeeperDHTHandler
// Class for the NetworkInterface
dxram.network=de.uniduesseldorf.dxram.core.net.NetworkHandler
// Class for the MemoryInterface
dxram.ram=de.uniduesseldorf.dxram.core.chunk.storage.UnsafeRAMHandler
// Class for the LogInterface
dxram.log=de.uniduesseldorf.dxram.core.chunk.storage.FileLogHandler
// Class for the RecoveryInterface
dxram.recovery=de.uniduesseldorf.dxram.core.recovery.RecoveryHandler
// Class for the LockInterface
dxram.lock=de.uniduesseldorf.dxram.core.lock.LockHandler

$ram
// Size of the RAM
dxram.ramsize=10737418240
// Class for the Memory-Management of the RAM
dxram.mm_ram=de.uniduesseldorf.dxram.core.chunk.storage.SimpleListStorageManagement

$log
// Size of the segments (default 64 MB)
dxram.segmentsize=67108864
// Size of the blocks in a segment (default 1 MB)
dxram.segmentblocksize=1048576
// Name of the logfile
dxram.logfile=./log/chunk.log
// Size of the logfile
dxram.logfilesize=107374182400
// Class for the Memory-Management of the log
dxram.mm_log=de.uniduesseldorf.dxram.core.chunk.storage.SimpleListStorageManagement