# dxram configuration file
# all configuration parameters are set based on this file but the ip, port and role of a node. Those can be set by vm arguments (e.g. -Dnetwork.ip=127.0.0.1).
# every parameter that ends with "size" can be configured in Bytes (e.g. 256), KBs (e.g. 256KB), MBs (e.g. 256MB) or GBs (e.g. 256GB).

#net
# max. number of connections (default: 100)
network.connections=100
 # size of the incoming message buffer (default: 32KB)
network.buffer_size=32KB
 # number of threads for handling incoming messages (default: 4)
network.message_handler_thread_count=4
 # number of task executers (default: 4)
network.task_handler_thread_count=4
 # max. cache size (default: 128MB)
network.max_cache_size=128MB
 # reduces reaction time at the expense of a higher cpu usage
network.high_performance=false

#ram
 # ram size (default: 1GB)
ram.size=4GB

#chunk
 # max. size of a data block (default: 16MB, maximum: 16MB)
chunk.max_size=16MB

#lookup
 # sleep time in seconds (default: 1)
lookup.sleep=1
 # number of cache entries for lookup (default: 1000)
lookup.cache_entries=2000
 # time to live in milliseconds (default: 1000)
lookup.cache_TTL=5000

#name service
 # the name services type - NAME for Strings, ID for Integers (default: ID)
nameservice.type=NAME
 # key length in Bit
nameservice.key_length=32
 # number of cache entries for name service (default: 1000000)
nameservice.cache_entries=1000000

#log
 # (de-)active logging (default: false)
log.active=false
 # use a checksum for all log entries? (default: false)
log.checksum=false
 # size of the primary log on SSD (default: 2GB)
log.primary_size=256MB
 # size of a secondary log on SSD (default: 512MB)
log.secondary_size=256MB
 # size of the write buffer in RAM (default: 256MB)
log.buffer_size=256MB
 # size of one segment in secondary log (default: 8MB)
log.segment_size=8MB
 # flash page size on SSD (default: 4KB)
log.flashpage_size=4KB
 # reorganization utilization threshold for secondary log (default: 70)
log.reorg_util_threshold=70
 # a valid path where the logs are stored
log.directory=/home/beineke/ssd/logs/
 # parallel buffering might increase performance (default: false)
log.parallel_buffering=false

#zookeeper
 # ip and port of ZooKeeper instance (default: 127.0.0.1:2181)
zookeeper.connection_string=127.0.0.1:2181
 # bitfield size for node parsing - 32KB: minimum collision probability reached; 256KB: all NodeIDs allocatable (default: 256KB)
zookeeper.bitfield_size=256KB
 # time in milliseconds until ZooKeeper cuts unresponsive connections (default: 10000)
zookeeper.timeout=10000

#jni lock library
 # the valid path to the jni lock library (must be an absolute path)
lock.jni_directory=/home/beineke/workspace/git/dxram/jni/libJNILock.so

#jni console library
console.jni_directory=/home/beineke/workspace/git/dxram/jni/libJNIconsole.so

#statistic
 # print statistics periodically every x seconds (0 -> do not print)
statistic.print=0

#interfaces: For some interfaces there are more than one handlers, choose them here
 #lookup interface - Without caching: LookupHandler, with caching: CachedLookup or CachedTreeLookup (default: CachedTreeLookup)
interface.lookup=de.uniduesseldorf.dxram.core.lookup.CachedTreeLookup
 #lock interface (default: DefaultLockHandler)
interface.lock=de.uniduesseldorf.dxram.core.lock.DefaultLockHandler
